remove mod4 = Super_L

! Remap assistant key (Super_L) to Mode_switch
keycode 133 = Mode_switch

! Set PgUp / PgDown / Home / End to Mode_switch + arrow keys
keycode 111 = Up NoSymbol Prior
keycode 113 = Left NoSymbol Home
keycode 114 = Right NoSymbol End
keycode 116 = Down NoSymbol Next

! Set Mode_switch + Backspace to Delete
keycode 22 = BackSpace BackSpace Delete

